@import url(./nav.css);

.herotext {
    margin: 0;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    font-size: 4rem;
}

.herodesc {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.ratings-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ratings {
    text-align: center;
    font-family: "Roboto";
    padding: 1rem;
}

.ratings h2 {
    font-weight: 400;
    margin: 0;
}

.ratings span {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: fit-content;
    margin: 0 auto;
}

.ratings p {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.buttons {
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
}

.buttons a {
    color: var(--md-sys-color-on-surface);
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    text-align: center;
    font-weight: 600;
    margin-left: 0.5rem;
}

.buttons a.emphLink {
    border-radius: 100px;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


.buttons a.emphLink:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--md-sys-color-primary);
    transform: translateY(-0.05em);
}


.buttons a.outlineLink {
    box-sizing: border-box;
    color: var(--md-sys-color-primary);
    border-radius: 100px;
    border-color: var(--md-sys-color-outline);
    border-width: 1px;
    border-style: solid;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


.buttons a.outlineLink:hover{
    border-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    background-color: var(--md-sys-color-primary-container);
    transform: translateY(-0.05em);
    box-shadow: 0 0.5em 0.5em -0.4em var(--md-sys-color-primary-container);
}



main {
    width: 50%;
    margin: 0 auto;
}