nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    color: var(--md-sys-color-on-surface);
    font-family: "Roboto";
}

nav .logo {
    height: 4rem;
    width: auto;
}

nav .wordmark {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

nav .h1 {
    font-weight: bold;
    font-size: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 2rem;
}

.homelink {

}

.navlink {
    color: var(--md-sys-color-on-surface-variant);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.navlink:hover {
    color: var(--md-sys-color-primary)
}

.github {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
}